{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "globals": { "ga": true },
  "plugins": ["prettier", "jsx-a11y", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error"
  }
}
