@import '_base';

.showPicker {
  width: 100%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background: $color-background;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: top 600ms ease-in-out;
  top: -100vh;
  z-index: 3;

  &.st-active {
    top: 0;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;

    button {
      margin: 5px;
    }
  }
}

.showPicker_panel {
  max-width: $content-width;
  padding: 0 20px;
  margin: 0 auto;

  @media only screen and (max-height: $miniPhoneHeight) {
    padding: 0 5px;
  }
}

.react-autosuggest {
  &__container {
    position: relative;
    width: 90%;
    margin: 30px auto;
  }

  &__input {
    width: 100%;
    height: 30px;
    border-color: transparent;
    border-radius: 4px;
    min-height: 38px;
    border-width: 1px;
    border-style: solid;
    padding: 2px 8px;
    font-size: 16px;
  }

  &__suggestions {
    &-container--open {
      background: white;
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 0 0 5px 5px;
      width: 100%;
      position: absolute;
      z-index: 5;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  &__suggestion {
    padding: 5px;
    cursor: pointer;

    &--highlighted {
      background: $color-accent-faded;
    }
  }
}
