@import '_base';

.showPicker {
  width: 100%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background: $color-background;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: top 600ms ease-in-out;
  top: -100vh;
  z-index: 3;

  &.st-active {
    top: 0;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 0 0;
    padding: 0;
    justify-content: center;

    button {
      margin: 5px;
    }
  }
}

.showPicker_panel {
  max-width: $content-width;
  padding: 0 20px;
  margin: 0 auto;

  @media only screen and (max-height: $miniPhoneHeight) {
    padding: 0 5px;
  }
}
